.footer {
    width: 100vw;
    height: 4rem;
    background: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;

}